$color_main: #49b6ff;

.upload_files{
  //min-height:15em;
  width:12em;
  background:white;
  color:black;
  padding:0.5em 1em;
  border-radius:10px;
  font-size:1.3em;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);

  #add_files{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2em 0;
    font-size:0.9em;
    cursor:pointer;
    font-weight: bold;
    i{
      padding:0.7em;
      border-radius:50%;
      width:1em;
      height:1em;
      text-align: center;
      background:$color_main;
      color:white;
      margin-right:1em;
      margin-left:-1em;
    }
  }
  #files_cont{
    max-height:10em;
    overflow-y: auto;
    padding:0 0.4em;

    &::-webkit-scrollbar {
      width:0.3em;
    }

    &::-webkit-scrollbar-track {
      width:0.3em;
    }
    &:-webkit-scrollbar-thumb{
      background:#49b6ff;
      border-radius:5px;
    }
      
    &>div{
      position:relative;
      font-size:0.7em;
      margin:1em 0;
      .name{
        font-size:1em;
        width:100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .size{
        font-size:0.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .delete{
        display:none;
        position:absolute;
        right:0.3em;
        padding:0.5em 0.4em;
        font-weight: bold;
        background:white;
        top:50%;
        transform:translateY(-50%);
        color:$color_main;
        cursor:pointer;
      }
    }
    &>div:hover{
      cursor:pointer;
      .name, .size{
        width: calc(100% - 2em);
        opacity:0.6;
        color:#49b6ff;      
      }
      .delete{
        display:block;
      }
    }
  }
  .message{
    border-top:1px solid grey;
    margin-bottom:1em;
    height:10em;
    textarea{
      width: 100%;
      height:100%;
      border:none;
      outline:none;
      resize: none;
      padding-top:1em;
      font: inherit;
      font-size:0.7em; 
      box-sizing: border-box;

      &::-webkit-scrollbar {
        width:0.3em;
      }
  
      &::-webkit-scrollbar-track {
        width:0.3em;
      }
      &:-webkit-scrollbar-thumb{
        background:#49b6ff;
        border-radius:5px;
      }
      
      &::placeholder{
        color:grey;
      }
      &:disabled{
        color:black;
        background:none;
      }

      @media (max-width: 800px) {
        font-size:0.8em;
      }
    }
  }
  .button_link{
    padding:0.5em 0.7em;
    background:$color_main;
    border-radius:10px;
    font-weight:bold;
    font-size:0.8em;
    text-align:center;
    color:white;
    cursor:pointer;

    &.inactive{
      background:grey;
      cursor:initial;
    }
  }
}