.upload_files {
  width: 12em;
  background: white;
  color: black;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 1.3em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}
.upload_files #add_files {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: bold;
}
.upload_files #add_files i {
  padding: 0.7em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background: #49b6ff;
  color: white;
  margin-right: 1em;
  margin-left: -1em;
}
.upload_files #files_cont {
  max-height: 10em;
  overflow-y: auto;
  padding:0 0.4em;
}
.upload_files #files_cont::-webkit-scrollbar {
  width: 0.3em;
}
.upload_files #files_cont::-webkit-scrollbar-track {
  width: 0.3em;
}
.upload_files #files_cont::-webkit-scrollbar-thumb {
  background:#49b6ff;
  border-radius:5px;
}

.upload_files #files_cont > div {
  position: relative;
  font-size: 0.7em;
  margin: 1em 0;
}
.upload_files #files_cont > div .name {
  font-size: 1em;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.upload_files #files_cont > div .size {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.upload_files #files_cont > div .delete {
  display: none;
  position: absolute;
  right: 0.3em;
  padding: 0.5em 0.4em;
  font-weight: bold;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  color: #49b6ff;
  cursor: pointer;
}
.upload_files #files_cont > div:hover {
  cursor: pointer;
}
.upload_files #files_cont > div:hover .name, .upload_files #files_cont > div:hover .size {
  width: calc(100% - 2em);
  opacity:0.6;
  color:#49b6ff;
}
.upload_files #files_cont > div:hover .delete {
  display: block;
}
.upload_files .message {
  border-top: 1px solid grey;
  margin-bottom: 1em;
  height: 10em;
}
.upload_files .message textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding-top: 1em;
  font: inherit;
  font-size: 0.7em;
  box-sizing: border-box;
}
.upload_files .message textarea::-webkit-scrollbar {
  width: 0.3em;
}
.upload_files .message textarea::-webkit-scrollbar-track {
  width: 0.3em;
}
.upload_files .message textarea::-webkit-scrollbar-thumb {
  background:#49b6ff;
  border-radius:5px;
}
.upload_files .message textarea::placeholder {
  color: grey;
}
.upload_files .message textarea:disabled {
  color: black;
  background: none;
}
@media (max-width: 800px) {
  .upload_files .message textarea {
    font-size: 0.8em;
  }
}
.upload_files .button_link {
  padding: 0.5em 0.7em;
  background: #49b6ff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  color: white;
  cursor: pointer;
}
.upload_files .button_link.inactive {
  background: grey;
  cursor: initial;
}