.download_files {
  width: 12em;
  background: white;
  color: black;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-size: 1.3em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.16);
}
.download_files #download_icon {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  margin-bottom: 0.7em;
  font-size: 3em;
  color: #49b6ff;
}
.download_files #download_icon i {
  display: none;
}
.download_files #files_cont {
  max-height: 6em;
  overflow-y: auto;
  padding: 0 0.4em;
}
.download_files #files_cont::-webkit-scrollbar {
  width: 0.3em;
}
.download_files #files_cont::-webkit-scrollbar-track {
  width: 0.3em;
}
.download_files #files_cont::-webkit-scrollbar-thumb {
  background: #49b6ff;
  border-radius: 5px;
}
.download_files #files_cont > div {
  position: relative;
  font-size: 0.7em;
  margin: 1em 0;
}
.download_files #files_cont > div .name {
  font-size: 1em;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.download_files #files_cont > div .size {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.download_files .message_cont {
  border-top: 1px solid grey;
  padding-top: 1em;
  margin-bottom: 1em;
  min-height: 5em;
}
.download_files .message_cont::-webkit-scrollbar {
  width: 0.3em;
}
.download_files .message_cont::-webkit-scrollbar-track {
  width: 0.3em;
}
.download_files .message_cont::-webkit-scrollbar-thumb {
  background:#49b6ff;
  border-radius:5px;
}

.download_files .message_cont .message {
  font-size: 0.7em;
}
.download_files #button_link {
  padding: 0.5em 0.7em;
  background: #49b6ff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  color: white;
  cursor: pointer;
}
.download_files #button_link.inactive {
  background: grey;
  cursor: initial;
}