$color_main: #49b6ff;

.download_files{
  //min-height:15em;
  width:12em;
  background:white;
  color:black;
  padding:0.5em 1em;
  border-radius:10px;
  font-size:1.3em;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);

  #download_icon{
    width:100%;
    text-align:center;
    margin:1em 0;
    margin-bottom:0.7em;
    font-size:3em;
    color:$color_main;

    i{
      display:none;
    }
  }

  #files_cont{
    max-height: 6em;
    overflow-y: auto;
    padding:0 0.4em;

    &::-webkit-scrollbar {
      width: 0.3em;
    }
    &::-webkit-scrollbar-track {
      width: 0.3em;
    }
    &::-webkit-scrollbar-thumb {
      background:#49b6ff;
      border-radius:5px;
    }

    &>div{
      position:relative;
      font-size:0.7em;
      margin:1em 0;

      .name{
        font-size:1em;
        width:100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .size{
        font-size:0.8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .delete{
        display:none;
        position:absolute;
        right:0.3em;
        top:50%;
        transform:translateY(-50%);
        color:$color_main;
        cursor:pointer;
      }
    }
  }
  .message_cont{
    border-top:1px solid grey;
    padding-top:1em;
    margin-bottom:1em;
    min-height:5em;

    .message{
      font-size:0.7em;
    }
  }
  #button_link{
    padding:0.5em 0.7em;
    background:$color_main;
    border-radius:10px;
    font-weight:bold;
    font-size:0.8em;
    text-align:center;
    color:white;
    cursor:pointer;

    &.inactive{
      background:grey;
      cursor:initial;
    }
  }
}