body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

#home_page {
  display: none;
}

.page {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}
.header .logo {
  height: 2.5em;
}
.header .logo img {
  height: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  color: white;
}
.header .container > * {
  margin: 0 1em;
  cursor: pointer;
}

.page {
  position: relative;
}
.page > .container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.page > .container .background_component {
  height: 100%;
  width: 100%;
  position: absolute;
}
.page > .container .upload_files_component, .page > .container .download_files_component {
  margin-left: 5em;
  position: relative;
  z-index: 1;
  display: none;
}
.page > .container .title_container {
  margin-left: 5em;
  color: white;
}
.page > .container .title_container .title {
  font-size: 6em;
  font-weight: 300;
}
.page > .container .title_container .title b{
  font-weight:800;
}
.page > .container .title_container .subtitle {
  font-size: 2.8em;
  margin-top: -0.5em;
  margin-left: 0.2em;
}
@media (max-width: 1000px) {
  .page > .container .title_container {
    margin-left: 3em;
    font-size: 0.8em;
  }
}
@media (max-width: 800px) {
  .page > .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .page > .container .title_container {
    margin-bottom: 3em;
    margin-left: 0;
    text-align: center;
  }
  .page > .container .upload_files_component, .page > .container .download_files_component {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .page > .container .title_container {
    font-size: 0.6em;
    margin-bottom: 6em;
  }
}
@media (max-width: 400px) {
  .page > .container .title_container {
    font-size: 0.5em;
  }
}
.page #dragCont {
  display: flex;
  height: 100%;
  width: 100%;
  background: #49b6ff;
  position: absolute;
  top: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.page .copyright {
  position: absolute;
  bottom: 0.5em;
  right: 0.7em;
  color:white;
  font-size:0.7em;
}