$color_main: #49b6ff;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#home_page{
  display:none;
}

.page {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index:99;

  .logo{
    height:2.5em;

    img{
      height:100%;
    }
  }
}
.header .container {
  display: flex;
  align-items: center;
  color:white;

  &>*{
    margin:0 1em;
    cursor:pointer;
  }
}

.page{
  position:relative;

    & > .container {
      display:flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-start;

      .background_component{
        height:100%;
        width:100%;
        position:absolute;
      }
      .upload_files_component, .download_files_component{
        margin-left:5em;
        position:relative;
        z-index:1;
        display:none;
      }

      .title_container{
        margin-left:5em;
        color:white;
        .title{
          font-size:6em;
          font-weight: 300;

          b{
            font-weight: 800;
          }
        }
        .subtitle{
          font-size:2.8em;
          margin-top:-0.5em;
          margin-left:0.2em;
        }
      }
      @media (max-width: 1000px) {
        .title_container{
          margin-left:3em;
          font-size:0.8em;
        }
      }
      @media (max-width: 800px) {
        flex-direction:column-reverse;
        justify-content: center;

        .title_container{
          margin-bottom:3em;
          margin-left:0;
          text-align: center;
        }
        .upload_files_component, .download_files_component{
          margin-left:0;
        }
      }
      @media (max-width: 500px) {
        .title_container{
          font-size:0.6em;
          margin-bottom:6em;
        }
      }
      @media (max-width: 400px) {
        .title_container{
          font-size:0.5em;
        }
      }
    }  

    #dragCont{
      display:flex;
      height:100%;
      width:100%;
      background: $color_main;
      position:absolute;
      top:0;
      z-index: 10;
      align-items: center;
      justify-content: center;

      color:white;
      font-size:1.5em;
      font-weight: bold;
      cursor:pointer;
    }

    .copyright{
      position:absolute;
      bottom:0.5em;
      right:0.7em;
      color:white;
      font-size:0.7em;    
    }
} 