#background_component{
  .background{
    background-size:cover;
    background-position:center;
    background-color:rgb(240, 240, 240);
    width:100%;
    height:100%;
    position:relative;
    z-index:-1;
  }  
}